body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:Tahoma;
    font-weight:400;
    font-size:16px;
    background-image:  url(https://res.cloudinary.com/chowdeck/image/upload/v1659209900/uploads_dev/sodecapvsqaf9wgr6vyb.jpg);
    background-position: center;
    background-size: cover;
    color: #E75480;
    padding-bottom: 100px;
  }
  label{
    display:block;
    margin-bottom:15px;
    
  }
  fieldset{
    border: none;
    padding: 0 0;
    margin:5px;
    margin-bottom:10px
  }
  input,select,textarea{
    width:100%;
    min-height:40px;
    border-radius: 5px;
  
  }
  div{
    background-color:#F5EBDC;
    padding:16px;
    border-radius: 5px;
    max-width:500px;
    margin:auto;
    
  }
  h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  h1,.description {
    margin: 25px auto;
    text-align: center;
    color:#FFD1DC;
  }
  
  p{
    margin-bottom:5px;
    font-weight:600;
    font-size:12px;
    
  }
  .description{
    font-style: italic;
    font-size:12px;
    font-weight:400;
    margin:0px auto 20px
  }
  .inline{
    width:unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
  }
  input,
  textarea,
  select {
    margin: 5px 0 0 0;
    border:2px solid #C4BCB0;
  }
  .tlabel{
    font-weight:600;
    font-size:12px;
  }
  .submit{
    background-color:#502314;
    color:white;
    font-size:18px;
    font-weight:600;
    padding:10px;
  }
  